<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule ^$ skpi.php?url=home [L]
RewriteRule ^index\.html$ skpi.php?url=home [L]
RewriteRule ^(.*)\.html$ skpi.php?url=$1 [L]

ErrorDocument 404 "<h1>Forbidden</h1>"

Options All -Indexes
</IfModule>
